.task{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #dddada);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #f8f8f8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 1rem;
    border-radius: 15px;
    padding: 1rem;


    display: flex;
    flex-direction: column;
}

.task__status{
    display: flex;
    align-items: center ;
}

.task__status--title{
    margin-left: 0.3rem;
    font-size: 1.5rem;
    font-family: 'dm-sans-regular';
    color: var(--nav-bg-secondary);
}

.task__status--icons{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.task__status--icons svg{ 
    font-size: 2rem;
    margin-right: 1rem;
}

.task__status--icons svg:hover{
    cursor: pointer;
    color: var(--color-orange);
}

.task__info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task__info--category{
    margin-right: 1rem;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.task__info--category p {
    font-family: 'dm-sans-regular';
    font-size: 1.5rem;
}

.task__info--category p:hover{
    text-shadow: 1px 2px 3px var(--bg-color);
    cursor: pointer;
}

.task__info--status{
    padding: 0.25rem;
}

.task--title {
    margin-bottom: 1rem;
}

.task__info--status {
    display: flex;
    align-items: center;
}

.list__tasks ul {
    list-style-type: none;
}

@media only screen and (max-width: 400px) {
    .task--title,
    .task__info--category p{
        font-size: 1rem;
    }
}
