.task__status--priority{
    display: flex;
}

.task__status--priority div {
    padding: 0 0.25rem;
    margin: 0.5rem;
    width: 2rem;
    height: 1rem;
    border-radius: 0 4px 4px 24px;

}

.task__status--end {
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
    font-family: 'dm-sans-bold';
}