.App {
    min-height: 100vh;
    background-color: var(--bg-color);
}

.p__center{
  text-align: center;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff715b #ececec;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ececec;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff715b;
    border-radius: 0;
    border: 0px solid #ffffff;
  }


@media only screen and (max-width: 600px){
    .main__margin {
        margin-left: 0;
        margin-bottom: 1rem;
        padding: 0;
    }
}

@media only screen and (min-width: 600px) {
    
    .main__margin {
        margin-left: 5rem;
        padding: 1rem;
    }
}
